node_modules/
.npm
logs
*.log
npm-debug.log*
.eslintcache
package-lock.json
window_manager/jsoneditor/*.js
window_manager/jsoneditor/*.js.map
window_manager/jsoneditor/*.ts
.vscode/*
.history/

package-lock.json
target/
